@use '../general/variables' as *;

.cards-grid-favorites {
  padding-block: 40px;

  @media only screen and (min-width: 1200px) {
    padding-block: 60px;
  }

  .categories-list-favorites {
    margin-bottom: 32px;
    display: flex;
    gap: 15px;
  }

  .list-recipes-favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
  }

  .item-recipes {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    color: $light;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 100%;

    @media only screen and (min-width: 768px) {
      max-width: calc(50% - 16px / 2);
    }

    @media only screen and (min-width: 1200px) {
      max-width: calc(25% - 16px * 3 / 4);
    }

    .wrap-recipes {
      height: 100%;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.6));
      }

      .btn-add-to-favorite {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 80%;
        z-index: 2;
        width: fit-content;
        height: fit-content;
        margin: 16px;
        background: transparent;
        padding: 0;
        line-height: 1;

        &.active {
          .icon-heart {
            fill: $light;
          }
        }

        .icon-heart {
          stroke: $light;
          fill: transparent;
        }
      }

      .img-recipes {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .thumb-desc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        z-index: 2;

        .title-recipes {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 1.28;
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .description-recipes {
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 1.2;
          margin-bottom: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .rating {
          display: flex;
          align-items: center;

          .rating-number {
            position: relative;
            display: flex;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.29;
            align-items: center;
          }

          .stars {
            display: flex;
            gap: 3px;
            margin-left: 4px;

            @media only screen and (min-width: 768px) {
              gap: 1px;
            }

            .icon-star {
              fill: rgba(248, 248, 248, 0.4);
              align-items: center;
              width: 18px;
              height: 18px;

              @media only screen and (min-width: 768px) {
                width: 14px;
                height: 14px;
              }

              &.star {
                fill: $colorAccent;
              }
            }
          }
        }

        .btn-recipes {
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.21;
          border-radius: 8px;
          padding: 8px 14px;
          margin-left: auto;
        }
      }
    }
  }
}
