<div class="cards-grid">
  <p class="loader"></p>
  <ul class="list-recipes"></ul>
  <div class="pagination-wrap js-pag-wrap">
    <div class="btns-back">
      <button type="button" class="pag-start-btn pag-btn">
        <svg class="pag-arrow double pag-arrow1 js-arrow">
          <use href="./img/sprite.svg#icon-arrow-double"></use>
        </svg>
      </button>
      <button type="button" class="pag-back-btn pag-btn">
        <svg class="pag-arrow js-arrow">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="btns-pages js-btns-pages"></div>
    <div class="btns-forward">
      <button type="button" class="pag-forward-btn pag-btn">
        <svg class="pag-arrow pag-back-arrow js-arrow">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <button type="button" class="pag-end-btn pag-btn">
        <svg class="pag-arrow double pag-arrow1 js-arrow">
          <use href="./img/sprite.svg#icon-arrow-double"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
