<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link {=$home-class}">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favorites.html" class="nav-link {=$fav-class}"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <a href="./index.html" class="logo"><span>tasty</span>treats </a>

    <label class="switch">
      <input type="checkbox" data-name="theme-switcher" />
      <span class="slider"></span>
    </label>

    <button
      type="button"
      class="menu-toggle-burger js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="mobile menu"
    >
      <svg class="mobile-menu-burger" width="32" height="32">
        <use href="./img/sprite.svg#burger"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile menu burger -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button type="button" class="menu-toggle-close js-close-menu">
      <svg class="modal-menu-close" width="32" height="32">
        <use href="./img/sprite.svg#cross-close-modal"></use>
      </svg>
    </button>

    <ul class="nav-mobile">
      <li>
        <a class="nav-mobile-link" href="./index.html">Home</a>
      </li>
      <li>
        <a class="nav-mobile-link" href="./favorites.html">Favorites</a>
      </li>
    </ul>

    <label class="switch mobile">
      <input type="checkbox" data-name="theme-switcher" />
      <span class="slider"></span>
    </label>
  </div>
</header>
