<section class="hero-favorites">
  <div class="container">
    <h1 class="visually-hidden">Hero Tasty Treats</h1>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/hero-favorites/card@1x_desktop.jpg 1x,
          ./img/hero-favorites/card@2x_desktop.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero-favorites/card@1x_tablet.jpg 1x,
          ./img/hero-favorites/card@2x_tablet.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero-favorites/card@1x_mobile.jpg 1x,
          ./img/hero-favorites/card@2x_mobile.jpg 2x
        "
      />
      <img
        src="./img/hero-favorites/card@1x_desktop.jpg"
        alt="Picture of tasty dish"
        loading="lazy"
      />
    </picture>
  </div>
</section>
