<div class="modal-order is-hidden" data-order-popup>
  <div class="inner-container">
    <button
      class="close-btn"
      type="button"
      aria-label="close popup"
      data-order-popup-close
    >
      <svg class="close-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <p class="title-order">Order now</p>

    <form class="form-order">
      <label>
        <span>Name</span>
        <input
          type="text"
          name="name"
          class="input-order"
          autocomplete="name"
        />
      </label>
      <label>
        <span>Phone number</span>
        <input type="tel" name="phoneNumber" class="input-order" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" name="email" class="input-order" />
      </label>
      <label>
        <span>Comment</span>
        <textarea name="comment" class="textarea-order input-order"></textarea>
      </label>
      <button
        type="submit"
        name="submit"
        class="btn btn-primary send-btn-order"
        disabled
      >
        Send
      </button>
    </form>
  </div>
</div>
