/* 
================
COLORS 
================
*/

$white: #ffffff;
$black: #000000;

$colorPrimary: #9bb537;
$colorAccent: #eea10c;
$dark: #1e1e1e;
$light: #f8f8f8;

$colorTextDark: #050505;
$colorTextGray: rgba(5, 5, 5, 0.5);
$colorBorder: rgba(5, 5, 5, 0.2);

/* 
==============
FONTS
==============
*/
$fontPrimary: Inter, sans-serif;

/*
===========
OTHER
===========
*/

$cubicTransition: cubic-bezier(0.4, 0, 0.2, 1);
